body{
    font-family: 'Lato', sans-serif;
}

img{
    width: 400px;
    margin: 1% 37% 1% 37%;
}
li{
    list-style: none;
}

#formContent{
    display:flex;
    justify-content: center;
    padding: 4px;
}

form{
    display:flex;
}
#results ul{
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color:rgb(245, 241, 241);
    margin-left:10rem;
    margin-right:10rem;
    
}
#results li{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
}

#results ul li:first-child{
    font-weight:bold;
    
}
